.clients {

  &-wrapper {
    width: 750px;
    margin: auto;

    @media (max-width: 1660px) {
      width: 650px;
    }

    @media (max-width: 1420px) {
      width: 520px;
    }
  }

  &-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-slide {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;

    &__img-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33.33%;
      height: 15vmin;
    }

    &__img {
      max-width: 76%;
      max-height: 76%;
    }
  }
}
