/*Proxima*/

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../fonts/proxima/subset-ProximaNova-Black.woff2') format('woff2'),
  url('../fonts/proxima/subset-ProximaNova-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/proxima/subset-ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/proxima/subset-ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/*Montserrat*/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserat/subset-Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/montserat/subset-Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserat/subset-Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserat/subset-Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}