.hand {
  position: absolute;
  height: 114%;
  left: -29%;
  bottom: 0;
  z-index: 0;

  @media (max-width: 1900px) {
    left: -26%;
  }

  @media (max-width: 1660px) {
    height: 108%;
    left: -20%;
  }

  @media (max-width: 1420px) {
    left: -36%;
  }

  @media (max-width: 959px) {
    height: 110%;
  }

  @media (max-width: 959px) {
    height: 106%;
    left: -40%;
  }

  &__img {
    width: auto;
    height: 100%;
  }
}