.logo {

  &__text {
    display: block;
    font-size: 220px;
    text-transform: uppercase;
    line-height: 200px;

    @media (max-width: 1900px) {
      font-size: 166px;
      line-height: 154px;
    }

    @media (max-width: 1660px) {
      font-size: 146px;
      line-height: 134px;
    }

    @media (max-width: 1420px) {
      font-size: 122px;
      line-height: 112px;
    }

    &_white {
      color: #fff;
      font-family: $ff-PNBlack;
      font-weight: 900;
    }

    &_black {
      color: #000;
      font-family: $ff-PNBlack;
      font-weight: 900;
    }
  }

  &__descriptor {
    font-size: 48px;
    font-family: $ff-PNBold;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;

    @media (max-width: 1900px) {
      font-size: 37px;
    }

    @media (max-width: 1660px) {
      font-size: 32px;
    }

    @media (max-width: 1420px) {
      font-size: 27px;
    }
  }

  &__shadow {
    position: absolute;
    top: -8px;
    z-index: 0;
    transform: rotate(-5deg);

    @media (max-width: 1660px) {
      top: -4px;
    }

    &_center {
      left: -33px;

      @media (max-width: 1660px) {
        left: -20px;
      }
    }

    &_left {
      right: 120%;
    }

    &_right {
      left: 120%;
    }
  }

  &__hold {
    position: relative;
    z-index: 1;
  }
}