.page-pagination {
  display: flex;
  width: 11px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 10%;
  z-index: 100;
  user-select: none;

  @media (max-width: 959px) {
    left: 5%;
  }

  @media (max-width: 767px) {
    left: 2%;
  }

  @media (max-width: 375px) {
    left: -5px;
  }

  &__hold {
    display: block;
    position: relative;
    margin: auto;

    &:after {
      content: "";
      width: 0;
      border-right: 1px solid #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 27px;
      bottom: 25px;
      margin: auto;
      opacity: .8;
      transition: .7s;
    }

    & .swiper-pagination-bullet {
      position: relative;
      z-index: 1;
      width: 11px;
      height: 11px;
      background: #fff;
      transition: .7s;
      opacity: 1;
      margin: 20px 0;
      will-change: transform;

      &:focus {
        outline: none;
      }
    }

    & .swiper-pagination-bullet.swiper-pagination-bullet-active {
        transform: scale3d(1.8,1.8,1.8);
        opacity: 1;
    }
    
    &_blue {
      color: #204fff;

      &:after {
        border-right: 1px solid #204fff;
      }

      & .swiper-pagination-bullet {
        background: #204fff;
      }
    }
  }
}