.section {
  height: inherit;
  position: relative;
  display: flex;

  &_1 {
    display: flex;
    background: $color-main;
    z-index: 5;
  }

  &_2 {
    display: flex;
    background: #fff;
    z-index: 4;
  }

  &_3 {
    background: #fff;
    z-index: 3;
  }

  &_4 {
    background: #fff;
    z-index: 1;
  }

  &_5 {
    background: $color-main;
    z-index: 2;
  }

  &__substrate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -80px;
    z-index: 0;
  }

  &-substrate {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/bg/greed-lg.png) no-repeat center bottom;
    background-size: cover;
  }

  &__block {
    width: 100%;
    height: 100%;
  }

  &__inner {
    position: relative;
    margin: auto;
    z-index: 1;
    left: -150px;
  }

  &__hold {
    position: relative;
    width: 977px;
    margin: auto;

    &_contacts {
      height: 50%;
    }

    @media (max-width: 1440px) {
      width: 550px;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 20px 0 40px;

    &_right {
      justify-content: flex-end;

      & .section-title__ico {
        margin-right: 55px;
      }
    }

    &_left {

      & .section-title__ico {
        margin-left: 55px;
      }
    }

    &__text-wrap {
      display: block;
      position: relative;
    }

    &__text {
      position: relative;
      display: block;
      color: #000;
      font-size: 60px;
      text-transform: uppercase;
      font-family: $ff-MEBold;
      font-weight: bold;
      z-index: 1;
      
      &_white {
        color: #fff;
      }
    }

    &__shadow {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      color: $color-main;
      font-size: 60px;
      text-transform: uppercase;
      font-family: $ff-MEBold;
      font-weight: bold;
      z-index: 0;
      transform: rotate(-3deg);
      
      &_black {
        color: #000;
      }
    }

    &__ico {
      display: block;
      width: 320px;
      height: 3px;
      background: $color-main;

      @media screen and (max-width: 1440px) {
        width: 222px;
      }

      &_white {
        background: #fff;
      }
    }
  }
}

