/*variable*/
body {
  margin: 0;
  padding: 0; }

.wrapper {
  height: 100vh;
  overflow: hidden; }

.page-container {
  height: 100%; }

.page-wrapper {
  height: inherit; }

.section {
  height: inherit;
  position: relative; }
  .section_1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #204fff;
    z-index: 5; }
  .section_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    z-index: 4; }
  .section_3 {
    background: #fff;
    z-index: 3; }
  .section_4 {
    background: #fff;
    z-index: 1; }
  .section_5 {
    background: #fff;
    z-index: 2; }
  .section__substrate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -80px;
    z-index: 0; }
  .section-substrate {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/bg/greed-lg.png) no-repeat center bottom;
    -webkit-background-size: cover;
            background-size: cover; }
  .section__inner {
    position: relative;
    margin: auto;
    z-index: 1;
    left: -150px; }
  .section__hold {
    position: relative;
    width: 977px;
    margin: auto;
    outline: 1px solid red; }
    @media (max-width: 1440px) {
      .section__hold {
        width: 550px; } }
  .section-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 20px 0 40px; }
    .section-title_right {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .section-title_right .section-title__ico {
        margin-right: 55px; }
    .section-title_left .section-title__ico {
      margin-left: 55px; }
    .section-title__text-wrap {
      display: block;
      position: relative; }
    .section-title__text {
      position: relative;
      display: block;
      color: #000;
      font-size: 60px;
      text-transform: uppercase;
      font-family: sans-serif;
      z-index: 1; }
    .section-title__shadow {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      color: #204fff;
      font-size: 60px;
      text-transform: uppercase;
      font-family: sans-serif;
      z-index: 0;
      -webkit-transform: rotate(-3deg);
          -ms-transform: rotate(-3deg);
              transform: rotate(-3deg); }
    .section-title__ico {
      display: block;
      width: 320px;
      height: 3px;
      background: #204fff; }

.logo__text {
  display: block;
  font-size: 220px;
  text-transform: uppercase;
  line-height: 120px; }
  @media (max-width: 1440px) {
    .logo__text {
      font-size: 130px; } }
  .logo__text_white {
    color: #fff;
    font-family: sans-serif; }
  .logo__text_black {
    color: #000;
    font-family: sans-serif; }

.logo__descriptor {
  font-size: 48px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase; }
  @media (max-width: 1440px) {
    .logo__descriptor {
      font-size: 26px; } }

.logo__shadow {
  position: absolute;
  top: 0;
  z-index: 0;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg); }
  .logo__shadow_center {
    left: 0; }
  .logo__shadow_left {
    right: 120%; }
  .logo__shadow_right {
    left: 120%; }

.logo__hold {
  position: relative;
  z-index: 1; }

.button-field {
  padding: 150px 0 0; }
  @media (max-width: 1440px) {
    .button-field {
      padding: 70px 0 0; } }

.button-send-brief {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 62px;
  text-align: center;
  text-decoration: none; }
  @media (min-width: 1260px) {
    .button-send-brief {
      cursor: pointer; } }
  .button-send-brief:hover .button-send-brief__substrate {
    width: 100%; }
  .button-send-brief:hover .button-send-brief__ico {
    stroke-dasharray: 3px;
    stroke: #000;
    -webkit-animation: dash .2s linear infinite;
            animation: dash .2s linear infinite; }
  .button-send-brief__text {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 20px 0 0; }
  .button-send-brief__ico-wrap {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle; }
  .button-send-brief__ico {
    position: relative;
    fill: #fff;
    stroke: #fff;
    stroke-dasharray: 0px;
    stroke-width: 1.5; }
  .button-send-brief__substrate {
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    background: #000;
    z-index: 0;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s; }

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 1000; } }

@keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 1000; } }

.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .services__title {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .services-title__text {
    fill: #204fff;
    height: auto; }
    @media (max-width: 1440px) {
      .services-title__text {
        width: 50px; } }
  .services__descr {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .services-descr {
    -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
            transform: rotate(-8deg); }
    .services-descr__text {
      display: block;
      text-align: right;
      font-family: sans-serif;
      font-size: 80px;
      text-transform: uppercase;
      font-style: italic; }
      @media (max-width: 1440px) {
        .services-descr__text {
          font-size: 40px; } }
      .services-descr__text_black {
        color: #000; }
      .services-descr__text_blue {
        color: #204fff; }
    .services-descr__text + span {
      position: relative;
      left: -5px; }

.snake {
  display: block;
  width: 800px;
  height: 100vh;
  position: absolute; }
  .snake_left {
    top: 180px;
    right: 83%; }
    @media (max-width: 1440px) {
      .snake_left {
        top: 74px; } }
  .snake_right {
    top: -40px;
    left: 100%; }
  .snake__img {
    width: 100%; }

.clients-wrapper {
  width: 70vmin;
  margin: 0 auto; }

.clients-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }

.clients-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .clients-slide__img-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 33.33%;
    height: 15vmin; }
  .clients-slide__img {
    max-width: 80%;
    max-height: 80%; }

.news-wrapper {
  position: relative;
  width: 70vmin;
  margin: 0 auto; }

.news-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }
  .news-list__item {
    width: 33.33%; }

.news-slide:hover .news-slide__substrate {
  background: rgba(32, 79, 255, 0.78); }

.news-slide:hover .news-slide__title {
  -webkit-transform: translate(-50%, -150%);
      -ms-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%); }

.news-slide:hover .news-button-view {
  opacity: 1; }

.news-slide__title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.news-slide-title {
  text-align: center; }
  .news-slide-title__text {
    font-size: 25px;
    color: #fff;
    font-family: sans-serif; }
    @media (max-width: 1440px) {
      .news-slide-title__text {
        font-size: 20px; } }

.news-slide__substrate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.news-slide__img-wrap {
  position: relative;
  z-index: 0; }

.news-slide__img {
  width: 100%;
  display: block; }

.news-slide__button {
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto; }
  @media (max-width: 1440px) {
    .news-slide__button {
      width: 60px;
      height: 60px; } }

.news-button-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background: #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  @media (min-width: 1260px) {
    .news-button-view {
      cursor: pointer; } }
  .news-button-view__text {
    display: block;
    text-transform: lowercase;
    color: #fff;
    font-family: sans-serif;
    font-size: 25px;
    margin: auto; }
    @media (max-width: 1440px) {
      .news-button-view__text {
        font-size: 20px; } }

.lightning {
  position: absolute;
  left: 71%;
  top: 0;
  width: 68vmin; }
  .lightning__img {
    width: 100%;
    display: block; }
