/*Proxima*/
@font-face {
  font-family: 'Proxima Nova Bl';
  src: url("../fonts/proxima/subset-ProximaNova-Black.woff2") format("woff2"), url("../fonts/proxima/subset-ProximaNova-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/proxima/subset-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proxima/subset-ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/*Montserrat*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserat/subset-Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserat/subset-Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserat/subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserat/subset-Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*variable*/
body {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  height: 100vh;
  overflow: hidden; }

.page-container {
  height: 100%; }

.page-wrapper {
  height: inherit; }

.section {
  height: inherit;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section_1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #204fff;
    z-index: 5; }
  .section_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    z-index: 4; }
  .section_3 {
    background: #fff;
    z-index: 3; }
  .section_4 {
    background: #fff;
    z-index: 1; }
  .section_5 {
    background: #204fff;
    z-index: 2; }
  .section__substrate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -80px;
    z-index: 0; }
    @media (max-width: 1420px) {
      .section__substrate {
        bottom: -60px; } }
  .section-substrate {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/bg/greed-lg.png) no-repeat center bottom;
    -webkit-background-size: cover;
            background-size: cover; }
    @media screen and (max-width: 1440px) {
      .section-substrate {
        background: url(../images/bg/greed-lg-1440.png) no-repeat center bottom;
        -webkit-background-size: cover;
                background-size: cover; } }
    @media screen and (max-width: 1280px) {
      .section-substrate {
        background: url(../images/bg/greed-lg-1280.png) no-repeat center bottom;
        -webkit-background-size: cover;
                background-size: cover; } }
    @media screen and (max-width: 1024px) {
      .section-substrate {
        background: url(../images/bg/greed-md-1024.png) no-repeat center bottom;
        -webkit-background-size: cover;
                background-size: cover; } }
    @media screen and (max-width: 959px) {
      .section-substrate {
        background: url(../images/bg/greed-sm-768.png) no-repeat center bottom;
        -webkit-background-size: cover;
                background-size: cover; } }
    @media screen and (max-width: 767px) {
      .section-substrate {
        background: url(../images/bg/greed-sm-768.png) no-repeat right bottom;
        -webkit-background-size: cover;
                background-size: cover; } }
  .section__block {
    width: 100%;
    height: 100%; }
  .section__inner {
    position: relative;
    margin: auto;
    z-index: 1;
    left: -150px; }
    @media (max-width: 1660px) {
      .section__inner {
        left: -100px; } }
    @media (max-width: 1280px) {
      .section__inner {
        left: 0; } }
  .section__hold {
    position: relative;
    width: 750px;
    margin: auto; }
    .section__hold_contacts {
      height: 50%; }
    @media (max-width: 1660px) {
      .section__hold {
        width: 650px; } }
    @media (max-width: 1420px) {
      .section__hold {
        width: 520px; } }
    @media (max-width: 959px) {
      .section__hold {
        width: 460px; } }
    @media (max-width: 767px) {
      .section__hold {
        width: 320px; } }
    @media (max-width: 360px) {
      .section__hold {
        width: 280px; } }
  .section-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 20px 0 60px; }
    @media (max-width: 1900px) {
      .section-title {
        padding: 0 0 26px; } }
    @media (max-width: 1420px) {
      .section-title {
        padding: 0 0 20px; } }
    @media (max-width: 1200px) {
      .section-title {
        padding: 0 0 60px; } }
    @media (max-width: 767px) {
      .section-title {
        padding: 0 0 20px; } }
    .section-title_big {
      padding: 20px 0 100px; }
      @media (max-width: 1660px) {
        .section-title_big {
          padding: 0 0 60px; } }
      @media (max-width: 1420px) {
        .section-title_big {
          padding: 0 0 50px; } }
      @media (max-width: 767px) {
        .section-title_big {
          padding: 0 0 30px; } }
    .section-title_right {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media screen and (max-width: 767px) {
        .section-title_right {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      .section-title_right .section-title__ico {
        margin-right: 55px; }
    .section-title_left .section-title__ico {
      margin-left: 55px; }
    .section-title__text-wrap {
      display: block;
      position: relative; }
    .section-title__text {
      position: relative;
      display: block;
      color: #000;
      font-size: 60px;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      z-index: 2;
      white-space: nowrap; }
      @media (max-width: 1900px) {
        .section-title__text {
          font-size: 56px; } }
      @media (max-width: 1660px) {
        .section-title__text {
          font-size: 53px; } }
      @media (max-width: 1420px) {
        .section-title__text {
          font-size: 48px; } }
      @media (max-width: 959px) {
        .section-title__text {
          font-size: 42px; } }
      @media (max-width: 767px) {
        .section-title__text {
          font-size: 38px; } }
      .section-title__text_white {
        color: #fff; }
    .section-title__shadow {
      display: block;
      position: absolute;
      width: 100%;
      color: #204fff;
      font-size: 60px;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      z-index: 1;
      white-space: nowrap; }
      @media (max-width: 1900px) {
        .section-title__shadow {
          font-size: 56px; } }
      @media (max-width: 1660px) {
        .section-title__shadow {
          font-size: 53px; } }
      @media (max-width: 1420px) {
        .section-title__shadow {
          font-size: 48px; } }
      @media (max-width: 959px) {
        .section-title__shadow {
          font-size: 42px; } }
      @media (max-width: 767px) {
        .section-title__shadow {
          font-size: 38px; } }
      .section-title__shadow_clients {
        left: 0;
        top: 0;
        -webkit-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
                transform: rotate(-3deg); }
      .section-title__shadow_news {
        left: 0px;
        top: -2px;
        -webkit-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
                transform: rotate(-2deg); }
      .section-title__shadow_contacts {
        left: 8px;
        top: -2px;
        -webkit-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
                transform: rotate(-2deg); }
      .section-title__shadow_black {
        color: #000; }
    .section-title__ico {
      display: block;
      width: 290px;
      height: 3px;
      background: #204fff; }
      @media screen and (max-width: 1660px) {
        .section-title__ico {
          width: 222px; } }
      @media screen and (max-width: 767px) {
        .section-title__ico {
          display: none; } }
      .section-title__ico_white {
        background: #fff; }

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none; } }

.logo__text {
  display: block;
  font-size: 220px;
  text-transform: uppercase;
  line-height: 200px; }
  @media (max-width: 1900px) {
    .logo__text {
      font-size: 166px;
      line-height: 154px; } }
  @media (max-width: 1660px) {
    .logo__text {
      font-size: 146px;
      line-height: 134px; } }
  @media (max-width: 1420px) {
    .logo__text {
      font-size: 122px;
      line-height: 112px; } }
  @media (max-width: 959px) {
    .logo__text {
      font-size: 137px;
      line-height: 130px; } }
  @media (max-width: 767px) {
    .logo__text {
      font-size: 56px;
      line-height: 56px; } }
  .logo__text_white {
    color: #fff;
    font-family: "Proxima Nova Bl", sans-serif;
    font-weight: 900; }
  .logo__text_black {
    color: #000;
    font-family: "Proxima Nova Bl", sans-serif;
    font-weight: 900; }

.logo__descriptor {
  font-size: 48px;
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }
  @media (max-width: 1900px) {
    .logo__descriptor {
      font-size: 37px; } }
  @media (max-width: 1660px) {
    .logo__descriptor {
      font-size: 32px; } }
  @media (max-width: 1420px) {
    .logo__descriptor {
      font-size: 27px; } }

.logo__shadow {
  position: absolute;
  top: -8px;
  z-index: 0;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg); }
  @media (max-width: 1660px) {
    .logo__shadow {
      top: -4px; } }
  @media (max-width: 767px) {
    .logo__shadow {
      top: 0; } }
  .logo__shadow_center {
    left: -33px; }
    @media (max-width: 1660px) {
      .logo__shadow_center {
        left: -20px; } }
    @media (max-width: 767px) {
      .logo__shadow_center {
        left: -13px; } }
  .logo__shadow_left {
    right: 120%; }
    @media (max-width: 767px) {
      .logo__shadow_left {
        right: 115%; } }
  .logo__shadow_right {
    left: 120%; }
    @media (max-width: 767px) {
      .logo__shadow_right {
        left: 115%; } }

.logo__hold {
  position: relative;
  z-index: 1; }

.button-field {
  padding: 150px 0 0; }
  @media (max-width: 1660px) {
    .button-field {
      padding: 70px 0 0; } }

.button-send-brief {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 62px;
  text-align: center;
  text-decoration: none; }
  @media (max-width: 1660px) {
    .button-send-brief {
      width: 200px;
      height: 50px; } }
  @media (min-width: 1200px) {
    .button-send-brief {
      cursor: pointer; } }
  @media (min-width: 1200px) {
    .button-send-brief:hover .button-send-brief__substrate {
      width: 100%; } }
  @media (min-width: 1200px) {
    .button-send-brief:hover .button-send-brief__ico {
      stroke-dasharray: 3px;
      stroke: #000;
      -webkit-animation: dash .2s linear infinite;
              animation: dash .2s linear infinite; } }
  .button-send-brief__text {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    font-family: "Proxima Nova Bl", sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 20px 0 0; }
    @media (max-width: 1660px) {
      .button-send-brief__text {
        font-size: 20px; } }
  .button-send-brief__ico-wrap {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle; }
  .button-send-brief__ico {
    position: relative;
    fill: #fff;
    stroke: #fff;
    stroke-dasharray: 0px;
    stroke-width: 1.5; }
  .button-send-brief__substrate {
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    background: #000;
    z-index: 0;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s; }
    @media (max-width: 1660px) {
      .button-send-brief__substrate {
        width: 69%; } }

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 1000; } }

@keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 1000; } }

.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .services__title {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .services-title__text {
    fill: #204fff;
    height: auto; }
    @media (max-width: 1660px) {
      .services-title__text {
        width: 50px; } }
    @media (max-width: 1420px) {
      .services-title__text {
        width: 42px; } }
    @media (max-width: 767px) {
      .services-title__text {
        width: 34px; } }
  .services__descr {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .services-descr {
    -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
            transform: rotate(-8deg); }
    .services-descr__text {
      display: block;
      text-align: right;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 60px;
      text-transform: uppercase;
      font-style: italic; }
      @media (max-width: 1660px) {
        .services-descr__text {
          font-size: 50px; } }
      @media (max-width: 1420px) {
        .services-descr__text {
          font-size: 44px; } }
      @media (max-width: 767px) {
        .services-descr__text {
          font-size: 31px; } }
      @media (max-width: 767px) {
        .services-descr__text {
          font-size: 24px; } }
      .services-descr__text_black {
        color: #000; }
      .services-descr__text_blue {
        color: #204fff; }
    .services-descr__text + span {
      position: relative;
      left: -5px; }

.snake {
  display: block;
  width: 1070px;
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media (max-width: 1900px) {
    .snake {
      width: 960px; } }
  @media (max-width: 1660px) {
    .snake {
      width: 700px; } }
  @media (max-width: 1420px) {
    .snake {
      width: 590px; } }
  @media (max-width: 1280px) {
    .snake {
      width: 900px; } }
  @media (max-width: 959px) {
    .snake {
      width: 590px; } }
  @media (max-width: 767px) {
    .snake {
      width: 400px; } }
  .snake_left {
    top: 70px;
    right: 82%; }
    @media (max-width: 1900px) {
      .snake_left {
        top: 60px;
        right: 90%; } }
    @media (max-width: 1420px) {
      .snake_left {
        right: 97%; } }
    @media (max-width: 1280px) {
      .snake_left {
        top: -30px;
        right: 90%; } }
    @media (max-width: 959px) {
      .snake_left {
        right: 80%;
        top: 170px; } }
    @media (max-width: 767px) {
      .snake_left {
        right: 68%;
        top: 200px; } }
    @media (max-width: 360px) {
      .snake_left {
        top: 160px; } }
  .snake_right {
    top: -40px;
    left: 100%; }
    @media (max-width: 1900px) {
      .snake_right {
        top: -20px; } }
    @media (max-width: 1420px) {
      .snake_right {
        left: 107%; } }
    @media (max-width: 1280px) {
      .snake_right {
        top: -60px;
        left: 90%; } }
    @media (max-width: 959px) {
      .snake_right {
        left: 78%;
        top: 200px; } }
    @media (max-width: 767px) {
      .snake_right {
        left: 68%;
        top: 222px; } }
    @media (max-width: 360px) {
      .snake_right {
        top: 182px; } }
  .snake_descend-left {
    top: 200px; }
    @media (max-width: 1660px) {
      .snake_descend-left {
        top: 220px; } }
    @media (max-width: 1420px) {
      .snake_descend-left {
        top: 170px; } }
    @media (max-width: 1280px) {
      .snake_descend-left {
        top: 220px; } }
    @media (max-width: 1280px) and (max-height: 900px) {
      .snake_descend-left {
        top: 110px; } }
    @media (max-width: 959px) {
      .snake_descend-left {
        top: 420px; } }
    @media (max-width: 767px) {
      .snake_descend-left {
        top: 340px; } }
    @media (max-width: 375px) {
      .snake_descend-left {
        top: 280px; } }
    @media (max-width: 360px) {
      .snake_descend-left {
        top: 232px; } }
  .snake_descend-right {
    top: 90px; }
    @media (max-width: 1660px) {
      .snake_descend-right {
        top: 170px; } }
    @media (max-width: 1420px) {
      .snake_descend-right {
        top: 130px; } }
    @media (max-width: 1280px) {
      .snake_descend-right {
        top: 160px; } }
    @media (max-width: 1280px) and (max-height: 900px) {
      .snake_descend-right {
        top: 70px; } }
    @media (max-width: 959px) {
      .snake_descend-right {
        top: 440px; } }
    @media (max-width: 767px) {
      .snake_descend-right {
        top: 360px; } }
    @media (max-width: 375px) {
      .snake_descend-right {
        top: 280px; } }
    @media (max-width: 360px) {
      .snake_descend-right {
        top: 212px; } }
  .snake__img {
    width: 100%; }

.clients-slider {
  position: relative; }

.clients-wrapper {
  width: 750px;
  margin: auto; }
  @media (max-width: 1660px) {
    .clients-wrapper {
      width: 650px; } }
  @media (max-width: 1420px) {
    .clients-wrapper {
      width: 520px; } }
  @media (max-width: 959px) {
    .clients-wrapper {
      width: 600px; } }
  @media (max-width: 767px) {
    .clients-wrapper {
      width: 260px; } }

.clients-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }

.clients-slide {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 10px; }
  .clients-slide__img-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 15vmin; }
    @media (max-width: 767px) {
      .clients-slide__img-wrap {
        height: 25vmin;
        padding: 10px 0; } }
  .clients-slide__img {
    max-width: 76%;
    max-height: 76%; }

@media (max-width: 767px) {
  .news {
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
            transform: scale3d(1.18, 1.18, 1.18);
    will-change: transform; } }

.news-wrapper {
  position: relative;
  width: 750px;
  margin: auto; }
  @media (max-width: 1900px) {
    .news-wrapper {
      width: 700px; } }
  @media (max-width: 1660px) {
    .news-wrapper {
      width: 650px; } }
  @media (max-width: 1420px) {
    .news-wrapper {
      width: 520px; } }
  @media (max-width: 767px) {
    .news-wrapper {
      width: 100%;
      height: 100%; } }

.news-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }
  .news-list__item {
    width: 33.33%; }
    @media (max-width: 767px) {
      .news-list__item {
        width: 100% !important;
        height: 100vh; } }

@media (max-width: 767px) {
  .news-slide {
    width: 100%;
    height: 100%; } }

@media (min-width: 1280px) {
  .news-slide:hover .news-slide__substrate {
    background: rgba(32, 79, 255, 0.78); } }

@media (min-width: 1280px) {
  .news-slide:hover .news-slide__title {
    -webkit-transform: translate(-50%, -150%);
        -ms-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%); } }

@media (min-width: 1280px) {
  .news-slide:hover .news-button-view {
    opacity: 1; } }

.news-slide__title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.news-slide-title {
  text-align: center; }
  .news-slide-title__text {
    font-size: 25px;
    color: #fff;
    font-family: "Montserrat", sans-serif; }
    @media (max-width: 1660px) {
      .news-slide-title__text {
        font-size: 20px; } }

.news-slide__substrate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.news-slide__img-wrap {
  position: relative;
  z-index: 0; }
  @media (max-width: 767px) {
    .news-slide__img-wrap {
      height: 100%; } }

.news-slide__img {
  width: auto;
  display: block;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .news-slide__img {
      height: 100%; } }

.news-slide__button {
  display: block;
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto; }
  @media (max-width: 1660px) {
    .news-slide__button {
      width: 60px;
      height: 60px; } }
  @media (max-width: 767px) {
    .news-slide__button {
      bottom: 100px; } }

.news-button-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background: #1f4fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  text-decoration: none; }
  @media (min-width: 1200px) {
    .news-button-view {
      background: #000;
      opacity: 0;
      cursor: pointer; } }
  .news-button-view__text {
    display: block;
    text-transform: lowercase;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin: auto; }
    @media (max-width: 1660px) {
      .news-button-view__text {
        font-size: 20px; } }

.news-navigation {
  position: relative;
  padding: 50px 0;
  z-index: 1;
  text-align: center; }
  @media (max-width: 1660px) {
    .news-navigation {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .news-navigation {
      display: none; } }
  .news-navigation__link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2; }
  .news-navigation-link {
    display: block;
    text-decoration: none; }
    .news-navigation-link__text {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      color: #204fff; }

.lightning {
  position: absolute;
  left: 80%;
  top: -40px;
  width: 520px; }
  @media (max-width: 1660px) {
    .lightning {
      left: 86%;
      top: -22px;
      width: 420px; } }
  @media (max-width: 1420px) {
    .lightning {
      top: -36px;
      left: 82%;
      width: 350px; } }
  @media (max-width: 767px) {
    .lightning {
      display: none; } }
  .lightning__img {
    width: 100%;
    display: block; }

.map {
  height: 50%;
  width: 100%; }

.contacts {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 959px) {
    .contacts {
      left: 20px; } }
  @media (max-width: 767px) {
    .contacts {
      left: 0; } }
  .contacts-address {
    position: relative;
    font-style: normal;
    z-index: 1; }
    @media (max-width: 1024px) {
      .contacts-address {
        width: 440px;
        margin: 0 auto;
        position: relative;
        left: 76px; } }
    @media (max-width: 959px) {
      .contacts-address {
        left: 110px; } }
    @media (max-width: 767px) {
      .contacts-address {
        width: 100%;
        left: 0;
        text-align: center; } }
    .contacts-address__tel {
      padding: 5px 0; }
    .contacts-address__email {
      padding: 5px 0; }
    .contacts-address__soc-net {
      padding: 20px 0; }
  .contacts-tel__num {
    font-size: 55px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: bold; }
    @media (max-width: 1900px) {
      .contacts-tel__num {
        font-size: 50px; } }
    @media (max-width: 1660px) {
      .contacts-tel__num {
        font-size: 36px; } }
    @media (max-width: 1420px) {
      .contacts-tel__num {
        font-size: 32px; } }
    @media (max-width: 959px) {
      .contacts-tel__num {
        font-size: 27px; } }
    @media (max-width: 767px) {
      .contacts-tel__num {
        font-size: 24px; } }
  .contacts-email__text {
    font-size: 55px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: bold; }
    @media (max-width: 1900px) {
      .contacts-email__text {
        font-size: 50px; } }
    @media (max-width: 1660px) {
      .contacts-email__text {
        font-size: 34px; } }
    @media (max-width: 1420px) {
      .contacts-email__text {
        font-size: 32px; } }
    @media (max-width: 959px) {
      .contacts-email__text {
        font-size: 27px; } }
    @media (max-width: 767px) {
      .contacts-email__text {
        font-size: 24px; } }

.hand {
  position: absolute;
  height: 114%;
  left: -29%;
  bottom: 0;
  z-index: 0; }
  @media (max-width: 1900px) {
    .hand {
      left: -26%; } }
  @media (max-width: 1660px) {
    .hand {
      height: 108%;
      left: -20%; } }
  @media (max-width: 1420px) {
    .hand {
      left: -36%; } }
  @media (max-width: 959px) {
    .hand {
      height: 110%; } }
  @media (max-width: 959px) {
    .hand {
      height: 106%;
      left: -40%; } }
  .hand__img {
    width: auto;
    height: 100%; }

.soc-net-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 767px) {
    .soc-net-list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .soc-net-list__item {
    margin: 0 36px 0 0; }
    @media screen and (max-width: 767px) {
      .soc-net-list__item {
        margin: 0 30px 0 0; } }
    .soc-net-list__item:last-child {
      margin: 0; }

.soc-net-link {
  text-decoration: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .soc-net-link:hover {
    text-decoration: none;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .soc-net-link:hover .soc-net-link__ico {
      fill: #fff;
      -webkit-transform: scale3d(1.3, 1.3, 1.3);
              transform: scale3d(1.3, 1.3, 1.3); }
  .soc-net-link__ico-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px; }
  .soc-net-link__ico {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    -webkit-transition: fill .15s, -webkit-transform .2s;
    transition: fill .15s, -webkit-transform .2s;
    -o-transition: transform .2s, fill .15s;
    transition: transform .2s, fill .15s;
    transition: transform .2s, fill .15s, -webkit-transform .2s;
    will-change: transform; }

.clients-slider-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 767px) {
    .clients-slider-arrow {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 40px 0 0; } }
  .clients-slider-arrow__prev, .clients-slider-arrow__next {
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 3;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .clients-slider-arrow__prev:focus, .clients-slider-arrow__next:focus {
      outline: none; }
    @media screen and (max-width: 767px) {
      .clients-slider-arrow__prev, .clients-slider-arrow__next {
        position: static;
        margin: 0 20px;
        width: 46px;
        height: 46px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #1f4fff; } }
  .clients-slider-arrow__prev {
    left: -31px; }
  .clients-slider-arrow__next {
    right: -31px; }
  .clients-slider-arrow__ico {
    display: block;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .clients-slider-arrow__ico path {
        fill: #fff; } }

.news-slider-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }
  .news-slider-arrow__prev, .news-slider-arrow__next {
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 3; }
  .news-slider-arrow__prev {
    left: 0; }
  .news-slider-arrow__next {
    right: 0; }
  .news-slider-arrow__ico {
    display: block;
    margin: 0 auto; }

.page-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 11px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 10%;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (max-width: 959px) {
    .page-pagination {
      left: 5%; } }
  @media (max-width: 767px) {
    .page-pagination {
      left: 2%; } }
  @media (max-width: 375px) {
    .page-pagination {
      left: -5px; } }
  .page-pagination__hold {
    display: block;
    position: relative;
    margin: auto; }
    .page-pagination__hold:after {
      content: "";
      width: 0;
      border-right: 1px solid #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 27px;
      bottom: 25px;
      margin: auto;
      opacity: .8;
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s; }
    .page-pagination__hold .swiper-pagination-bullet {
      position: relative;
      z-index: 1;
      width: 11px;
      height: 11px;
      background: #fff;
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s;
      opacity: 1;
      margin: 20px 0;
      will-change: transform; }
      .page-pagination__hold .swiper-pagination-bullet:focus {
        outline: none; }
    .page-pagination__hold .swiper-pagination-bullet.swiper-pagination-bullet-active {
      -webkit-transform: scale3d(1.8, 1.8, 1.8);
              transform: scale3d(1.8, 1.8, 1.8);
      opacity: 1; }
    .page-pagination__hold_blue {
      color: #204fff; }
      .page-pagination__hold_blue:after {
        border-right: 1px solid #204fff; }
      .page-pagination__hold_blue .swiper-pagination-bullet {
        background: #204fff; }
